<div id="<%= dom_id dealership %>">
  <p>
    <strong>Name:</strong>
    <%= dealership.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dealership.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= dealership.location %>
  </p>

</div>
